<div class="main-4 text-center">
    <h1>CONTACT COMPONENT</h1>
    <i class="fa-solid fa-star"></i>
    <form>
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="userName">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="userAge">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="userEmail">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="userPassword">
</div>
<button type="submit" class="btn btn-secondary">send Message</button>
</form>
</div>