<div class="main-3 text-center p-5">
  <h1>PORTFOLIO COMPONENT</h1>
  <i class="fa-solid fa-star"></i>

  <div class="row">
    <!-- Image 1 -->
    <div class="col-lg-4 col-md-6">
      <div class="image-container">
        <img src="assets/Images/poert1.png" alt="">
        <div class="layerr">
          <i class="fa-solid fa-plus plus-icon"></i>
        </div>
      </div>
    </div>

    <!-- Image 2 -->
    <div class="col-lg-4 col-md-6">
      <div class="image-container">
        <img src="assets/Images/port2.png" alt="">
        <div class="layerr">
          <i class="fa-solid fa-plus plus-icon"></i>
        </div>
      </div>
    </div>

    <!-- Image 3 -->
    <div class="col-lg-4 col-md-6">
      <div class="image-container">
        <img src="assets/Images/port3.png" alt="">
        <div class="layerr">
          <i class="fa-solid fa-plus plus-icon"></i>
        </div>
      </div>
    </div>

    <!-- Image 4 -->
    <div class="col-lg-4 col-md-6">
      <div class="image-container">
        <img src="assets/Images/poert1.png" alt="">
        <div class="layerr">
          <i class="fa-solid fa-plus plus-icon"></i>
        </div>
      </div>
    </div>

    <!-- Image 5 -->
    <div class="col-lg-4 col-md-6">
      <div class="image-container">
        <img src="assets/Images/port2.png" alt="">
        <div class="layerr">
          <i class="fa-solid fa-plus plus-icon"></i>
        </div>
      </div>
    </div>

    <!-- Image 6 -->
    <div class="col-lg-4 col-md-6">
      <div class="image-container">
        <img src="assets/Images/port3.png" alt="">
        <div class="layerr">
          <i class="fa-solid fa-plus plus-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
